* {
	box-sizing: border-box;
}

body{
	/*background-color: yellowgreen;*/
	font-size: 16px;
}
.navi {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.navi ul {
	max-width: 900px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	gap: 10px;
}
.navi-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.navi-item a {
	height: 30px;
	padding: 0 16px 0 16px;
	background-color: rgb(150, 150, 150);
	text-decoration: none;
	transition: 0.5s;

	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.90em;

	color: black;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.navi-item a:hover {
	color: white;
	background-color: black;
}
