@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");
html {
  font-size: 16px; }

body {
  font-family: 'Montserrat', sans-serif; }

.logo {
  height: 30px;
  border-radius: 15px;
  border: 1px solid Silver;
  padding: 0 20px 0 20px;
  margin: 0 20px 0 20px;
  cursor: pointer; }

.logo a {
  height: 30px; }

svg #logoBild {
  height: 30px; }

.navi {
  width: 100%;
  background-color: white;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  z-index: 100; }
  .navi ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: center; }
  .navi .navi-item {
    list-style: none;
    margin: 0 2px 0 2px; }
    .navi .navi-item a {
      color: black;
      background-color: rgba(200, 200, 200, 0.5);
      border-radius: 15px;
      display: flex;
      align-items: center;
      align-content: center;
      text-decoration: none;
      height: 30px;
      padding: 0 20px 0 20px;
      transition: all 0.4s ease-out; }
      .navi .navi-item a:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white; }

.active {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px; }
  .active a {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #ffc200 !important; }

/*---------------------naviGross-----------------------------*/
.naviGross {
  width: 100%; }

.naviGross ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  align-content: center;
  gap: 5px; }

.naviGross ul li {
  list-style-type: circle;
  margin: 0 2px 0 2px;
  /*
	list-style-type: kannada;
	list-style-type: trad-chinese-informal;
	list-style-type: georgian;
	list-style-type: '-';
*/ }

.naviGross ul li a {
  color: black;
  background-color: orange;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 30px;
  padding: 0 20px 0 20px;
  transition: all 0.4s ease-out;
  position: relative; }
  .naviGross ul li a:hover {
    background-color: orange;
    color: white; }

.naviGross ul li a::before, .naviGross ul li a::after {
  display: block;
  content: "";
  height: 30px;
  width: 20px;
  position: absolute;
  transform: skewx(20deg);
  z-index: 500; }

.naviGross ul li a::before {
  background-color: orange;
  top: 0;
  left: 0; }

.naviGross ul li a::after {
  background-color: orange;
  top: 0;
  right: 0; }

main {
  padding-top: 50px;
  max-width: 1000px;
  margin: auto; }

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px; }

h1::-moz-selection {
  background-color: rgba(200, 200, 200, 0.5);
  color: white; }

h1::selection {
  background-color: rgba(200, 200, 200, 0.5);
  color: white; }

.unterricht {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative; }

table.test_1, table.test_2 {
  border: 1px solid red;
  border-collapse: separate;
  border-spacing: 7px; }

table.test_1 tr td, table.test_2 tr td {
  border: 1px solid green;
  font-size: 2em; }

.code {
  background-color: Beige;
  margin: 20px auto;
  max-width: 650px;
  padding: 20px 0 20px 0; }

.u3 p, .u4 p {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 1.5em;
  border-radius: 50%;
  font-weight: bold;
  background-color: orange;
  color: white;
  padding: 0;
  transition: 0.5s;
  display: inline-flex;
  align-items: center !important;
  justify-content: center; }

.u3 p:hover, .u4 p:hover {
  cursor: pointer;
  box-shadow: 0 0 7px 10px rgba(255, 165, 0, 0.8);
  transform: rotate(360deg); }

.u4 #sprachen {
  position: absolute;
  right: 150px;
  top: -50px; }

.u4 #sprachen select {
  border: none;
  overflow: hidden;
  background-color: orange;
  border-radius: 20%; }

.u4 #sprachen option {
  cursor: pointer; }

/*---------------------.u5--------------------------*/
.u5 .element {
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.u5 #e1 {
  cursor: pointer;
  background-color: HotPink;
  transition: 0.5s; }

.u5 #e1:hover {
  background-color: DeepPink; }

/*---------------------/.u5--------------------------*/
/*----------------------.u6--------------------------*/
.u6 {
  gap: 5px;
  width: 700px;
  margin: auto;
  margin-bottom: 30px; }

.u6 .element {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.u6 .default {
  background-color: gray; }

.u6 .gras {
  background-color: green; }

.u6 .wasser {
  background-color: skyblue; }

.u6 .berge {
  background-color: brown; }

/*---------------------/.u6--------------------------*/
/*----------------------.u7--------------------------*/
.u7 {
  width: 800px;
  height: 800px;
  margin: 30px auto;
  background-image: url("../bilder/u7/teller.jpg");
  border-radius: 50%;
  cursor: pointer;
  position: relative; }

.u7 .m2€ {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  position: absolute; }

.u7 .m1€ {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  position: absolute; }

.u7 .m50c {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  position: absolute; }

.u7 .m20c {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  position: absolute; }

/*---------------------/.u7--------------------------*/
/*----------------------.u8--------------------------*/
.u8 {
  width: 800px;
  height: 500px;
  margin: 30px auto;
  cursor: pointer;
  background-color: green;
  border: 10px solid brown;
  position: relative; }

.u8 .kub {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url("../bilder/u8/cub_1.svg"); }

/*---------------------/.u8--------------------------*/
/*---------------------/.u9--------------------------*/
.u9 {
  width: 800px;
  height: 500px;
  margin: 30px auto;
  border: 1px solid gray;
  position: relative;
  background-image: url("../bilder/u9/winter.jpg"); }

.u9 .ziel_wrap {
  width: 100px;
  height: 131px;
  cursor: crosshair;
  position: absolute;
  overflow: hidden; }

.u9 .wrap_1 {
  top: 200px;
  left: 100px; }

.u9 .wrap_2 {
  top: 250px;
  left: 250px; }

.u9 .wrap_3 {
  top: 260px;
  left: 465px; }

.u9 .wrap_4 {
  top: 215px;
  left: 625px; }

.ziel {
  width: 100px;
  height: 131px;
  cursor: crosshair;
  position: absolute;
  background-image: url("../bilder/u9/suslik.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 1px; }

/*----------------------.u9--------------------------*/
/*-----------------------.u10--------------------------*/
.links {
  padding-bottom: 20px; }

.links a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: gray;
  text-decoration: none;
  height: 30px;
  margin: 5px;
  align-items: center; }

.u10 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }

.u10 p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px; }

/*----------------------/.u10--------------------------*/
/*-----------------------.u11--------------------------*/
.links {
  padding-bottom: 20px; }

.links a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: gray;
  text-decoration: none;
  height: 30px;
  margin: 5px;
  align-items: center; }

.u11 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }

.u11 p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px; }

/*----------------------/.u11--------------------------*/
/*-----------------------.u12--------------------------*/
.links {
  padding-bottom: 20px; }

.links a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: gray;
  text-decoration: none;
  height: 30px;
  margin: 5px;
  align-items: center; }

.u12 {
  width: 800px;
  height: 500px;
  margin: 30px auto;
  display: block;
  position: relative;
  border: 1px solid gray; }

.u12 p {
  position: absolute; }

/*----------------------/.u12--------------------------*/
/*-----------------------.u13--------------------------*/
.u13 {
  width: 800px;
  height: 600px;
  margin: 30px auto;
  border: 1px solid gray;
  background-image: url("../bilder/u13/woroniHG.jpg");
  display: block;
  position: relative; }

.u13 .woroni {
  width: 10px;
  height: 10px;
  position: relative; }

.u13 .woroni .worona {
  width: 58px;
  height: 125px;
  background-image: url("../bilder/u13/worona.png");
  position: absolute; }

.u13 .num {
  position: absolute;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  bottom: 25px; }

.u13 .text {
  position: absolute;
  left: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  bottom: 170px; }

.u13 .text p {
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u13 .num p {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  border: 1px solid brown;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  box-shadow: -9px -9px 9px 1px rgba(123, 107, 52, 0.76) inset, 33px 3px 5px -5px rgba(255, 237, 178, 0.6) inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

/*----------------------/.u13--------------------------*/
/*-----------------------.u14--------------------------*/
.u14 {
  width: 800px;
  height: 600px;
  margin: 30px auto;
  border: 1px solid gray;
  background-image: url("../bilder/u14/clouds-background.jpg");
  background-size: cover;
  display: block;
  position: relative;
  overflow: hidden; }

.u14 .punkte {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 1010; }

.u14 .leben {
  position: absolute;
  top: 30px;
  left: 650px;
  width: 120px;
  color: white;
  font-size: 1.5em;
  font-weight: bold; }

.u14 .leben .lText {
  margin-bottom: 10px; }

.u14 .leben .herz {
  width: 33px;
  height: 30px; }

.u14 .balls {
  position: absolute;
  cursor: crosshair; }

.u14 .gOver {
  width: 800px;
  height: 600px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.9);
  z-index: 1000; }

.u14 .gOver .center {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; }

.u14 .gOver .center .message {
  padding: 10px 20px 30px 20px;
  display: none; }

.u14 .gOver .center .play {
  width: 180px;
  height: 40px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  cursor: pointer; }

/*----------------------/.u14--------------------------*/
/*-----------------------.u15--------------------------*/
.u15 {
  width: 780px;
  min-height: 20px;
  margin: 30px auto;
  border: 2px solid #010101;
  display: block;
  position: relative;
  overflow: hidden; }

.u15 .reihe {
  width: 940px;
  min-height: 20px;
  padding: 0px;
  margin-left: -80px;
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center; }

.u15 .reihe img {
  width: 130px;
  height: 30px;
  margin: 1px 0; }

/*----------------------/.u15--------------------------*/
/*-----------------------.u16--------------------------*/
.u16 {
  width: 750px;
  height: 750px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px; }

.u16 .bilder {
  width: 100px;
  height: 100px;
  border: 2px solid DeepSkyBlue;
  border-radius: 10px;
  cursor: pointer;
  transition: background 1s;
  transition: background-image 1s ease-in-out;
  background-image: url("../bilder/u16/question.png");
  background-size: cover; }

.u16 .bellsprout.show {
  background-image: url("../bilder/u16/bellsprout.png"); }

.u16 .bullbasaur.show {
  background-image: url("../bilder/u16/bullbasaur.png"); }

.u16 .caterpie.show {
  background-image: url("../bilder/u16/caterpie.png"); }

.u16 .charmander.show {
  background-image: url("../bilder/u16/charmander.png"); }

.u16 .dratini.show {
  background-image: url("../bilder/u16/dratini.png"); }

.u16 .eevee.show {
  background-image: url("../bilder/u16/eevee.png"); }

.u16 .jigglypuff.show {
  background-image: url("../bilder/u16/jigglypuff.png"); }

.u16 .mankey.show {
  background-image: url("../bilder/u16/mankey.png"); }

.u16 .meowth.show {
  background-image: url("../bilder/u16/meowth.png"); }

.u16 .mew.show {
  background-image: url("../bilder/u16/mew.png"); }

.u16 .pidgey.show {
  background-image: url("../bilder/u16/pidgey.png"); }

.u16 .psyduck.show {
  background-image: url("../bilder/u16/psyduck.png"); }

.u16 .rattata.show {
  background-image: url("../bilder/u16/rattata.png"); }

.u16 .snorlax.show {
  background-image: url("../bilder/u16/snorlax.png"); }

.u16 .squirtle.show {
  background-image: url("../bilder/u16/squirtle.png"); }

.u16 .venonat.show {
  background-image: url("../bilder/u16/venonat.png"); }

.u16 .weedle.show {
  background-image: url("../bilder/u16/weedle.png"); }

.u16 .zubat.show {
  background-image: url("../bilder/u16/zubat.png"); }

.u16__clickCount {
  margin: auto;
  text-align: center;
  width: 300px; }

.u16__clickCount p {
  display: flex;
  justify-content: center;
  align-items: center; }

.u16__clickCount span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: DeepSkyBlue;
  padding-left: 20px; }

/*----------------------/.u16--------------------------*/
/*-----------------------.u17--------------------------*/
.u17 {
  max-width: 960px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px; }

.u17 .card {
  background-color: white;
  border: 1px solid gray;
  position: relative;
  overflow: hidden; }

.u17 .card img {
  width: 300px;
  height: 300px;
  display: block; }

.u17 .card .preis {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 250px;
  background-color: red;
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center; }

/*----------------------/.u17--------------------------*/
/*-----------------------.u18--------------------------*/
.u18 {
  width: 1000px;
  height: 200px;
  background-color: yellowgreen;
  gap: 10px; }

.u18 .fp {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u18 .fp p {
  padding: 1px 5px 10px 5px; }

/*----------------------/.u18--------------------------*/
/*-----------------------.u19--------------------------*/
.u19 {
  width: 960px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px; }

.u19 .auswahl {
  width: 100px;
  height: 400px;
  background-color: #a2dae7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u19 .auswahl button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-size: cover;
  border-radius: 50%;
  border: none; }

.u19 .auswahl .stein {
  background-image: url("../bilder/u19/stein.jpg"); }

.u19 .auswahl .schere {
  background-image: url("../bilder/u19/schere.jpg"); }

.u19 .auswahl .papier {
  background-image: url("../bilder/u19/papier.jpg"); }

.u19 .klient {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("../bilder/u19/stein_1.jpg"); }

.u19 .maschine {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("../bilder/u19/stein_2.jpg"); }

.u19 .wins {
  width: 912px;
  height: 100px;
  background-color: #a2dae7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u19 .wins p {
  font-size: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u19 .wins p span {
  font-size: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: red;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u19 .wins p span::after {
  content: ",";
  display: block;
  position: absolute;
  height: 50px;
  width: 10px;
  right: -10px;
  top: -5px;
  font-size: 40px;
  font-weight: normal;
  color: white;
  z-index: 100; }

.u19 .wins p span:last-child:after {
  content: ""; }

/*----------------------/.u19--------------------------*/
/*-----------------------.u20--------------------------*/
.u20 {
  width: 960px;
  min-height: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px; }

.u20 .screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u20 .screen p {
  width: 350px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.u20 .screen p span {
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  background-color: DodgerBlue;
  color: white;
  margin-left: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.u20 .screen .reset {
  font-size: 20px;
  font-weight: bolder;
  background-color: DodgerBlue;
  color: white;
  border: none;
  border-radius: 10px;
  width: 350px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.u20 .card {
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 6px; }

/*-------------------------------------*/
.u20 .bilder {
  width: 300px;
  height: 242px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px; }

.u20 .bild {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover; }

/*-------------------------------------*/
.u20 .card .anzahl {
  width: 300px;
  height: 50px;
  background-color: DodgerBlue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u20 .card .anzahl .zahl {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  color: DodgerBlue;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u20 .card .anzahl .zahl:hover {
  background-color: orange;
  color: white; }

/*----------------------/.u20--------------------------*/
/*-----------------------.u21--------------------------*/
.u21 {
  width: 1000px;
  min-height: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: gold;
  display: block !important; }

.u21 .text {
  width: 175px;
  height: 40px;
  background-color: white;
  color: black;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }

.u21 .textContent {
  width: 1000px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.u21 .textContent .worte {
  width: 180px;
  min-height: 400px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: normal;
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u21 .textContent .buchstaben {
  width: 400px;
  height: 400px;
  color: black;
  font-size: 22px;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u21 .textContent .buchstaben .buchstabe {
  width: 58px;
  height: 58px;
  background-color: white;
  border: 1px solid gray;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center; }

.u21 .textContent .buchstaben .buchstabe:hover {
  background-color: olive;
  color: white; }

.u21 .textContent .bilder {
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  color: white; }

/*----------------------/.u21--------------------------*/
/*-----------------------.u22--------------------------*/
.u22 {
  width: 1000px;
  min-height: 500px;
  margin: 100px auto;
  padding: 10px;
  background-color: DarkSeaGreen;
  display: block !important;
  position: relative;
  margin-bottom: 100px; }

.u22 .coordinator {
  width: 250px;
  height: 50px;
  position: absolute;
  border: 2px solid DarkSeaGreen;
  top: -60px;
  left: 0px;
  line-height: 26px; }

.u22 .level {
  width: 715px;
  height: 50px;
  position: absolute;
  border: 2px solid DarkSeaGreen;
  top: -60px;
  left: 300px;
  line-height: 26px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.u22 .worte {
  width: 1000px;
  height: 50px;
  position: absolute;
  padding: 10px;
  background-color: DarkSeaGreen;
  top: 530px;
  left: 0px; }

.u22 .worte span {
  color: black;
  line-height: 26px;
  margin: 5px 20px 5px 0px; }

.u22 .worte span.not-active {
  color: yellow;
  text-decoration: line-through; }

.u22 .bilder {
  width: 1000px;
  min-height: 500px;
  display: block !important;
  position: relative;
  background-size: cover; }

.u22 .bilder .item {
  position: absolute; }

.u22 .buttons {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: DarkSeaGreen;
  border-radius: 50%;
  cursor: pointer;
  right: -70px;
  display: flex;
  justify-content: center;
  align-items: center; }

.u22 .buttons.active {
  background-color: DarkOliveGreen; }

.u22 .buttons.bu1 {
  top: 50px; }

.u22 .buttons.bu2 {
  top: 110px; }

.u22 .buttons.bu3 {
  top: 170px; }

.u22 .buttons.bu4 {
  top: 230px; }

.u22 .buttons.bu5 {
  top: 290px; }

.u22 .buttons.bu6 {
  top: 350px; }

/*----------------------/.u22--------------------------*/
/*-----------------------.u23--------------------------*/
.u23 {
  width: 600px;
  min-height: 600px;
  margin: 30px auto;
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
  display: block !important;
  margin-bottom: 30px; }

/*----------------------/.u23--------------------------*/
/*-----------------------.u24--------------------------*/
.u24 {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u24 .uhr {
  width: 300px;
  min-height: 300px;
  background-color: white;
  border: 1px solid Gainsboro; }

#zeit {
  font-family: 'Besley', serif;
  font-size: 0.1px; }

/*----------------------/.u24--------------------------*/
/*-----------------------.u25--------------------------*/
.u25 {
  width: 980px;
  min-height: 500px;
  margin: 30px auto;
  padding: 5px;
  background-color: DarkSeaGreen;
  position: relative;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u25 .bilder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u25 .bilder img {
  height: 200px;
  cursor: pointer; }

.u25 .buttons {
  min-height: 100px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: -70px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px; }

.u25 .buttons .button {
  height: 50px;
  width: 50px;
  background-color: DarkSeaGreen;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.u25 .buttons .button.active {
  background-color: DarkOliveGreen; }

.u25 .level {
  width: 930px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center; }

/*----------------------/.u25--------------------------*/
/*-----------------------.u26--------------------------*/
.u26 {
  width: 657px;
  min-height: 500px;
  margin: 60px auto;
  background-color: white;
  border: 5px solid DarkSeaGreen;
  display: block !important;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: relative; }

.u26 .level {
  width: 628px;
  height: 30px;
  font-size: 20px;
  background-color: DarkSeaGreen;
  position: absolute;
  top: -50px;
  left: -5px;
  padding-left: 30px;
  display: flex;
  justify-content: start;
  align-items: center; }

.u26 .bilder {
  width: 500px;
  height: 500px;
  margin: 5px;
  background-color: white;
  box-sizing: border-box; }

.u26 .bilderKlein {
  width: 125px;
  height: 500px;
  margin: 5px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 510px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px; }

.u26 .bilderKlein img {
  width: 121px;
  height: 121px;
  cursor: pointer; }

.u26 .bilderKlein img.checked {
  filter: grayscale(60%); }

.u26 .buttons {
  width: 50px;
  min-height: 50px;
  background-color: white;
  box-sizing: border-box;
  top: -5px;
  right: -70px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px; }

.u26 .buttons .button {
  height: 50px;
  width: 50px;
  background-color: DarkSeaGreen;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center; }

.u26 .buttons .button.active {
  background-color: DarkOliveGreen;
  color: white; }

.u26 .buttons .button:hover {
  background-color: OliveDrab; }

/*----------------------/.u26--------------------------*/
/*-----------------------/.u27--------------------------*/
.u27 {
  width: 1000px;
  padding: 50px 20px 50px;
  margin: 60px auto;
  background-color: SeaGreen;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u27 .praline {
  height: 400px;
  width: 250px;
  background-color: white;
  position: relative; }

.u27 .praline img {
  height: 50px;
  width: 50px;
  position: absolute; }

.u27 .zenter {
  height: 400px;
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.u27 .zenter img {
  height: 300px;
  width: 300px; }

.u27 .antwort {
  height: 100px;
  width: 920px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; }

.u27 .antwort img {
  height: 100px;
  width: 100px;
  cursor: pointer; }

/*-----------------------.u27--------------------------*/
/*-----------------------.u28--------------------------*/
.u28 {
  width: 1000px;
  padding: 50px 20px 50px;
  margin: 60px auto;
  background-color: SeaGreen;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u28 .base {
  width: 600px;
  height: 600px;
  position: relative; }

.u28 .base .buchstaben {
  width: 600px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u28 .base .buchstaben p {
  width: 100px;
  height: 70px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }

.u28 .base .ziffern {
  width: 70px;
  height: 530px;
  position: absolute;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u28 .base .ziffern p {
  width: 70px;
  height: 100px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }

.u28 .base .containerQuadro {
  width: 530px;
  height: 520px;
  position: absolute;
  top: 70px;
  left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u28 .base .quadro {
  width: 100px;
  height: 100px;
  background-color: white;
  color: SeaGreen;
  cursor: pointer;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.u28 .base .quadro.b1 {
  background-image: url("../bilder/u28/bar.jpg"); }

.u28 .base .quadro.e3 {
  background-image: url("../bilder/u28/chick.jpg"); }

.u28 .base .quadro.c5 {
  background-image: url("../bilder/u28/entlein.jpg"); }

.u28 .base .quadro.a4 {
  background-image: url("../bilder/u28/fisch.jpg"); }

.u28 .base .quadro.b4 {
  background-image: url("../bilder/u28/kater.jpg"); }

.u28 .base .quadro.d2 {
  background-image: url("../bilder/u28/krokodil.jpg"); }

.u28 .base .quadro.c3 {
  background-image: url("../bilder/u28/tasseKafee.jpg"); }

.u28 .tasten {
  width: 200px;
  height: 520px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u28 .tasten .taste {
  width: 200px;
  height: 70px;
  background-color: white;
  color: SeaGreen;
  padding-right: 50px;
  font-size: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 70px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.u28 .tasten .taste.b1kl {
  background-image: url("../bilder/u28/bar.jpg"); }

.u28 .tasten .taste.e3kl {
  background-image: url("../bilder/u28/chick.jpg"); }

.u28 .tasten .taste.c5kl {
  background-image: url("../bilder/u28/entlein.jpg"); }

.u28 .tasten .taste.a4kl {
  background-image: url("../bilder/u28/fisch.jpg"); }

.u28 .tasten .taste.b4kl {
  background-image: url("../bilder/u28/kater.jpg"); }

.u28 .tasten .taste.d2kl {
  background-image: url("../bilder/u28/krokodil.jpg"); }

.u28 .tasten .taste.c3kl {
  background-image: url("../bilder/u28/tasseKafee.jpg"); }

/*-----------------------/.u28--------------------------*/
/*------------------------.u29--------------------------*/
.u29 {
  width: 1000px;
  padding: 20px;
  margin: 60px auto;
  background-color: SeaGreen;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u29 .verwaltung {
  width: 1000px;
  padding: 10px 20px;
  margin: auto;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; }

.u29 .verwaltung p span {
  padding: 10px 20px;
  color: white;
  background-color: rgba(250, 250, 250, 0.3);
  border: 1px solid white;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease-out; }

.u29 .verwaltung p span:hover {
  border-radius: 30px;
  background-color: rgba(250, 250, 250, 0.5); }

.u29 .brett {
  width: 1000px;
  height: 200px;
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; }

/*-----------------------/.u29--------------------------*/
/*------------------------.u30--------------------------*/
.u30 {
  width: 1000px;
  padding: 20px;
  margin: 60px auto;
  background-color: rgba(150, 150, 150, 0.1);
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u30 .verwaltung {
  width: 1000px;
  height: 110px;
  padding: 10px 20px;
  margin: auto;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u30 .verwaltung p span {
  padding: 10px 20px;
  line-height: 45px;
  color: rgba(50, 50, 50, 0.9);
  background-color: rgba(150, 150, 150, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease-out; }

.u30 .verwaltung p span:hover {
  border-radius: 30px;
  background-color: rgba(150, 150, 150, 0.5); }

.u30 .brett {
  width: 1000px;
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  box-sizing: border-box;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u30 .brett img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0; }

.u30 .brett .bild {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative; }

.u30 .brett .bild p {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 22px;
  background-color: rgba(250, 250, 250, 0.5);
  color: red;
  position: absolute;
  top: 220px;
  left: 220px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*-----------------------/.u30--------------------------*/
/*------------------------.u31--------------------------*/
.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

.yellow {
  background-color: orange; }

.aqua {
  background-color: LightSkyBlue; }

.brown {
  background-color: brown; }

.u31 {
  width: 700px;
  height: 600px;
  padding: 20px;
  margin: 30px auto;
  background-color: #f0fef0;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u31 .info {
  width: 610px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u31 .info p {
  color: #0f5756;
  display: flex;
  justify-content: center;
  align-items: center; }

.u31 .piramidchen {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: white;
  border: 1px solid #3da676;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px; }

.u31 .piramidchen .quadrat {
  width: 130px;
  height: 130px;
  background-color: white;
  border: 1px solid #3da676;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.u31 .piramidchen .quadrat:hover {
  background-color: black; }

.u31 .piramidchen .a {
  width: 20px;
  height: 20px;
  border: 1px solid #3da676;
  border-radius: 10px;
  box-sizing: border-box; }

.u31 .piramidchen .b {
  width: 50px;
  height: 20px;
  border: 1px solid #3da676;
  border-radius: 10px;
  box-sizing: border-box; }

.u31 .piramidchen .c {
  width: 80px;
  height: 20px;
  border: 1px solid #3da676;
  border-radius: 10px;
  box-sizing: border-box; }

.u31 .pvOben {
  width: 100px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u31 .pvOben .quadrat {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 1px solid #3da676;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u31 .pvOben .quadrat:hover {
  background-color: black; }

.u31 .pvOben .quadrat .c {
  width: 60px;
  height: 60px;
  border: 1px solid #3da676;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u31 .pvOben .quadrat .b {
  width: 40px;
  height: 40px;
  border: 1px solid #3da676;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.u31 .pvOben .quadrat .a {
  width: 20px;
  height: 20px;
  border: 1px solid #3da676;
  border-radius: 50%;
  box-sizing: border-box; }

/*-----------------------/.u31--------------------------*/
/*------------------------.u32--------------------------*/
.u32 {
  width: 900px;
  height: 640px;
  padding: 20px;
  margin: 30px auto;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u32 .tasten {
  width: 150px;
  height: 600px;
  padding: 20px;
  border: 1px solid gray; }

.u32 .tasten button {
  width: 150px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: gray;
  color: white;
  cursor: pointer;
  transition: all 0.5s; }

.u32 .tasten button:hover {
  background-color: black;
  color: white; }

.u32 .figuren {
  width: 600px;
  height: 600px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u32 .figuren .checked {
  border: 1px solid red !important;
  background-color: orange !important;
  opacity: 0.5; }

html body .u32 .figuren .notAcive {
  border: 1px solid red !important;
  background-color: gray !important;
  opacity: 0.2; }

.u32 .tasten .current {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px; }

.u32 .tasten .current svg {
  border: 2px solid brown;
  border-radius: 10px; }

.u32 .figuren .figure {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px  solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease-out;
  display: flex;
  justify-content: center;
  align-items: center; }

.u32 .figuren .figure:hover {
  background-color: gray;
  border: 2px  solid black; }

/*-----------------------/.u32--------------------------*/
/*------------------------.u33--------------------------*/
.u33 {
  width: 940px;
  height: 300px;
  margin: 30px auto;
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u33 .text {
  width: 920px;
  height: 30px;
  position: absolute;
  border: 1px solid gray;
  bottom: -50px;
  left: 20px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center; }

.u33 .container {
  width: 300px;
  height: 300px;
  background-color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u33 .container::before {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../bilder/u33/vordergrund.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }

.u33 .container::after {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../bilder/u33/hintergrund.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.u33 .container img {
  width: 300px;
  height: 300px;
  z-index: 10; }

/*------------------------/.u33--------------------------*/
/*-------------------------.u34--------------------------*/
.u34 {
  width: 940px;
  height: 500px;
  margin: 30px auto;
  background-color: white;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u34 .schara {
  width: 940px;
  height: 500px;
  border: 1px solid gray;
  margin: auto;
  overflow: hidden;
  position: relative; }

.u34 .schara .schar {
  position: absolute;
  border-radius: 50%; }

/*------------------------/.u34--------------------------*/
/*-------------------------.u35--------------------------*/
.u35 {
  width: 500px;
  height: 500px;
  margin: 5px auto;
  padding-bottom: 30px;
  background-color: white;
  margin-bottom: 30px;
  position: relative; }

.u35 .aquarium {
  width: 500px;
  height: 500px;
  background-color: white;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.u35 .bulbi {
  width: 500px;
  height: 500px;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.u35 .bulba {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  background-color: white; }

/*------------------------/.u35--------------------------*/
/*-------------------------.u36--------------------------*/
.u36 {
  width: 1050px;
  height: 540px;
  margin: 30px auto;
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u36 .spiel {
  width: 500px;
  height: 500px;
  background-color: green;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.u36 .spiel p {
  font-size: 80px;
  font-weight: bold;
  color: white;
  font-family: 'Indie Flower', cursive; }

.u36 .grafik {
  width: 500px;
  height: 500px;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u36 .grafik .g {
  width: 32px;
  height: 500px;
  border: 1px dashed gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4px; }

.u36 .grafik .g .punkt {
  width: 32px;
  height: 20px;
  border-radius: 5px;
  background-color: green; }

/*------------------------/.u36--------------------------*/
/*-------------------------.u37--------------------------*/
.u37 {
  width: 900px;
  height: 600px;
  margin: 30px auto;
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.u37 .container {
  width: 900px;
  height: 600px;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u37 .container .row {
  width: 900px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u37 .container .row .bild {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat; }

.u37 .container .row .plus,
.u37 .container .row .gleich,
.u37 .container .row .resalt {
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: bold;
  color: black;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }

.u37 .container .row .antwort {
  width: 100px;
  height: 100px;
  font-size: 90px;
  font-weight: bold;
  color: red;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }

/*------------------------/.u37--------------------------*/
/*-------------------------.u38--------------------------*/
.u38 {
  width: 500px;
  margin: 30px auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.u38 .busContainer {
  width: 500px;
  padding: 20px 5px 30px 5px;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.u38 .busContainer h3 {
  width: 90%;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  border-bottom: 3px solid white;
  margin-bottom: 20px; }

.u38 .busContainer p {
  width: 90%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  text-transform: lowercase; }

/*------------------------/.u38--------------------------*/
/*-------------------------.u39--------------------------*/
.u39 {
  width: 650px;
  height: 500px;
  margin: 30px auto;
  margin-bottom: 30px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center; }

.u39 .bilder {
  width: 650px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px; }

.u39 .bilder img {
  height: 500px;
  width: 108px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

/*------------------------/.u39--------------------------*/
/*-------------------------.u40--------------------------*/
.u40 {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  margin-bottom: 30px;
  border: 1px solid gray;
  position: relative; }

.u40 .bild {
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  position: absolute;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover; }

.u40 .bild .fragment {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  background-color: #584b3b;
  position: absolute;
  cursor: pointer; }

/*
.u40 .bild .fragment.f1 {
	top: 100px;
	left: 100px;
}
.u40 .bild .fragment.f2 {
	top: 200px;
	left: 200px;
}
.u40 .bild .fragment.f3 {
	top: 160px;
	left: 50px;
}
.u40 .bild .fragment.f4 {
	top: 60px;
	left: 300px;
}
.u40 .bild .fragment.f5 {
	top: 260px;
	left: 50px;
}
.u40 .bild .fragment.f6 {
	top: 300px;
	left: 300px;
}*/
.u40 .tasten {
  width: 500px;
  height: 100px;
  background-color: #584b3b;
  position: absolute;
  top: 400px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.u40 .tasten .taste {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 400px 400px; }

/*.u40 .tasten .taste.t1 {
	background-position: top -100px left -100px;
}
.u40 .tasten .taste.t2 {
	background-position: top -200px left -200px;
}
.u40 .tasten .taste.t3 {
	background-position: top -160px left -50px;
}
.u40 .tasten .taste.t4 {
	background-position: top -60px left -300px;
}
.u40 .tasten .taste.t5 {
	background-position: top -260px left -50px;
}
.u40 .tasten .taste.t6 {
	background-position: top -300px left -300px;
}*/
.u40 .ebenen {
  width: 100px;
  height: 400px;
  background-color: #584b3b;
  position: absolute;
  top: 0px;
  left: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.u40 .ebenen .ebene {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid white;
  background-color: #76171d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.u40 .ebenen .ebene.active {
  background-color: red; }

/*------------------------/.u40--------------------------*/
/*-------------------------.u41--------------------------*/
.u41 .container {
  width: 1000px;
  height: 500px;
  background-color: white;
  margin: 30px auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u41 .container .content {
  width: 1000px;
  height: 50px;
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px; }

.u41 .content:nth-child(odd) {
  background-color: #c7edbc; }

.u41 .content:nth-child(even) {
  border: 1px solid gray; }

.u41 .container .content input {
  width: 42px;
  height: 42px;
  border: 5px solid green;
  border-radius: 50%;
  background-color: white;
  color: gray;
  position: absolute;
  top: -2px;
  right: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive; }

.u41 .container .content img {
  width: 50px;
  height: 50px; }

/*------------------------/.u41--------------------------*/
/*-------------------------.u42--------------------------*/
.u42 .container {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: 30px auto;
  margin-bottom: 30px;
  background-image: url("../bilder/u42/blatt.svg");
  background-repeat: no-repeat;
  background-size: 1000px 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.u42 .container .modal {
  width: 1000px;
  height: 500px;
  background-color: rgba(100, 100, 100, 0.8);
  position: absolute;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center; }

.u42 .container .modal .info {
  width: 500px;
  height: 150px;
  background-color: red;
  position: absolute;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center; }

.u42 .container .modal .info .bat {
  width: 400px;
  height: 100px;
  color: red;
  position: absolute;
  z-index: 160;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }

.u42 .container .raupe {
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u42 .container .raupe .kopf {
  width: 150px;
  height: 150px;
  margin-bottom: 100px;
  margin-right: -5px;
  background-color: Chartreuse;
  background-image: url("../bilder/u42/lippen.svg");
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.u42 .container .raupe .kopf .auge_1 {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  top: 30px;
  left: 60px; }

.u42 .container .raupe .kopf .blick_1 {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 35;
  top: 35px;
  left: 30px; }

.u42 .container .raupe .kopf .blick_2 {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 35;
  top: 40px;
  left: 70px; }

.u42 .container .raupe .kopf .auge_2 {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 25px;
  left: 20px; }

.u42 .container .raupe .bauch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.u42 .container .raupe .bauch .telo {
  width: 100px;
  height: 100px;
  background-color: Chartreuse;
  border-radius: 30%;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #003300;
  display: flex;
  justify-content: center;
  align-items: center; }

.sortable-ghost {
  opacity: 0; }

.u42 .container .raupe .bauch .telo::before, .u42 .container .raupe .bauch .telo::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: Chartreuse;
  border-radius: 50%;
  position: absolute;
  z-index: 30;
  top: 105px; }

.u42 .container .raupe .bauch .telo::before {
  left: 25px; }

.u42 .container .raupe .bauch .telo::after {
  left: 55px; }

.u42 .container .raupe .schwanz {
  width: 50px;
  height: 50px;
  background-color: Chartreuse;
  border-radius: 50%;
  margin-bottom: 80px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*------------------------/.u42--------------------------*/
/*@import "media";*/
